@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
  width: 444px;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  border-radius: 40px;
  -webkit-box-shadow: 3px 14px 22px 4px rgba(194, 194, 194, 0.62);
  -moz-box-shadow: 3px 14px 22px 4px rgba(194, 194, 194, 0.62);
  box-shadow: 3px 14px 22px 4px rgba(194, 194, 194, 0.62);
}

.todoDone {
  text-decoration: line-through;
}
